.edit-form,
.calls-view-header {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.calls-container {
  width: 100%;
}

.call-container {
  margin-bottom: 10px;
}

.call-header {
  display: flex;
}

.call-header:hover .call-buttons {
  visibility: visible;
}

.call-buttons {
  visibility: hidden;
}

.call-button {
  margin-left: 1em;
  font-size: 0.7em;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.confirm-delete-call-button:hover {
  background-color: red !important;
  color: white;
}

.call-button:hover {
  cursor: pointer;
  background-color: lightGrey;
}

.archive-person {
  font-size: 1.0em;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1em;
}

.archive-person:hover {
  cursor: pointer;
  background-color: lightGrey;
}

.edit-person {
  font-size: 1.0em;
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}

.edit-person:hover {
  cursor: pointer;
  background-color: lightGrey;
}

.edit-field {
  margin-left: 10px;
  font-size: 1em;
  padding: 10px;
  outline: none;
}

.edit-button {
  border-radius: 10px;
}

.edit-button:hover {
  cursor: pointer;
  background-color: lightGrey;
}
