.person-modal-wrapper {
  position: absolute;
  top: 5vh;
  left: 5vw;
  display: flex;
  background-color: white;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.person-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 2em;
  padding: 1em 2em;
}

.person-modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 1em;
  width: 100%;
}

.person-modal-header-close {
  color: grey;
  font-size: 1.0em;
  position: absolute;
  right: -0.5em;
}

.person-modal-header-close:hover {
  cursor: pointer;
  color: black;
  background-color: lightGrey;
  padding: 2px;
}

.person-modal-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.person-modal-error {
  color: red;
  margin-bottom: 5px;
}

.person-input {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.submit-new-person {
  padding: 0.5em 1em;
  font-size: 1.5em;
  border-radius: 1em;
  background-color: lightGrey !important;
}

.submit-new-person:hover {
  cursor: pointer;
  background-color: grey !important;
}
